html,
body,
#app {
    width: 100dvw !important;
    height: 100dvh !important;

    /* Fallback */
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;

    position: absolute;
    top: 0;
    left: 0;
}

#overlay {
    z-index: 10;
    transition: opacity 300ms ease-in-out;
}

#app {
    background-color: black;
}
