:root {
    --text-color: #f0fcff;
    --text-color-gray: #adc2c7;
    --text-color-extreme: #ffffff;

    --background-color: #00171b;
    --accent-color: #4da2b3;

    --background-shade: #f0fcff0f;
    --background-shade-selected: #4da2b348;

    --drop-shadow: drop-shadow(0px 0px 0px #000000);
    --drop-shadow-selected: drop-shadow(0px 0px 0px #000000);

    --border-color: #2e3738;
    --border-color-light: #5c6c70;
    --border-color-selected: var(var(--accent-color));
    --border-layer: var(--border-width) solid #adc2c7;

    --readonly-overlay-color: rgba(0, 0, 0, 0.377);
}
